[user]
	email = elyasaf.aloni@gmail.com
	name = aloni636
[init]
	defaultBranch = main
[advice]
	detachedHead = false
[core]
	editor = nvim
[sequence]
    editor = nvim
[safe]
	directory = /mnt/5698F89F98F87F35/Users/User/Desktop/Programming/Learn/Lua
[alias]
	graph = log --graph --all
	s = status
	g = log --graph --all
	c = checkout
[merge]
	tool = nvimdiff
[mergetool]
	keepBackup = false
